.search-right-col{
    .image-size{
        height: 40px;
        width: 40px;
    }
    p span{
        color: $cyan;
    }
    .result-single-col{
        @extend %borderNone;
        h6{
            font-size: .9rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    h5{
        padding-bottom: 0.6rem;
        font-size: 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        @extend %border-b;
    }
    a{
        color: $cyan;
        .view-all{
            margin: 0 0 0 0;
        }
    }
}
.borderLeft{
    border-left: 1px solid $borderSeparatorColor;
}

.media-body{
    min-width: 0;
}