.nav-tabs {
    border-bottom: solid 1px $borderSeparatorColor;
    margin-bottom: 1rem;
    overflow: hidden;
    > li {
      &.active > a {
        border-width: 0;
        opacity: 0.8;
        &:focus, &:hover {
          border-width: 0;
          opacity: 0.8;
        }
      }
      > a {
        font-size: 1rem;
        position: relative;
        border: none;
        color: $fontColorGrey;
        padding-bottom: 8px;
        text-align: left;
      }
    }
  }
  
  .nav.nav-tabs > li > a {
    color: $fontColorGrey;
    padding-left: 0;
    padding-right: 0;
    margin-right: 40px;
    border: 0 none;
    white-space: nowrap;
  }
  
  .nav-tabs {
    > li {
      &.active {
        > a, > a {
          border: none;
          color: $cyan;
          background: transparent;
        }
      }
      > a {
        &:hover {
          border: none;
          color: $cyan;
          background: transparent;
        }
        &::after {
          content: "";
          background: $cyan;
          height: 2px;
          position: absolute;
          width: 100%;
          left: 0px;
          bottom: 0;
          transition: all 250ms ease 0s;
          transform: scale(0);
        }
      }
      > a:hover {
        border: none;
        color: $cyan;
        background: transparent;
      }
    }
    .nav-link {
      &.active {
        border: none;
        color: $cyan;
        background: transparent;
        &::after {
          transform: scale(1);
        }
      }
      border: 0 none;
    }
    > li > a::after {
      bottom: 0px;
    }
    > li {
      &.active > a::after, &:hover > a::after {
        transform: scale(1);
      }
    }
  }

.tab-content{
   padding: 0;
   .tab-pane {
        padding: 0;
    }
}