%borderNone{border: 0 none;}
%border-b{border-bottom: 1px solid $borderSeparatorColor;}
%fontWeight200{font-weight: 200;}
%fontWeight400{font-weight: 400;}
%fontWeight600{font-weight: 600;}
%marginTop-3{margin-top: 3px;}
%marginTop-5{margin-top: 5px;}
