<!-- Left column start -->
<div id="left-col" class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
    <div class="search-left-col">  
        <div class="result-single-col pt-3 pb-3">
            <img src="img/img-res-01.jpg" alt="" title="" class="mr-2 rounded image-size">
            <div class="media-body mb-0 small">
                <span class="d-block text-caps"> site</span>
                <h6 class="mb-0">Social Events</h6>
                <p class="mb-0">Activities outside of work</p>
            </div>
        </div>
       
        <div class="result-single-col pt-3 pb-3">
            <img src="img/img-res-02.jpg" alt="" title="" class="mr-2 rounded image-size">
            <div class="media-body mb-0 small">
                <span class="d-block text-caps"> blog post</span>
                <h6 class="mb-0">Another news article</h6>
                <p class="mb-0">Lorem ipsum dolor sit amet,consectetur adipisicing elit. Placeat sunt, eum numqam! Quas Lorem ipsum dolor sit amet,consectetur adipisicing elit</p>
                <div class="sent-by">By <span>User name</span> on Aug 17, 2015</div>
            </div>
        </div>

        <div class="result-single-col two pt-3 pb-3">
            <img src="img/img-res-05.jpg" alt="" title="" class="mr-2 rounded image-size">
            <div class="media-body mb-0 small col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 pl-0">
                <span class="d-block text-caps"> person </span>
                <h6 class="mb-0">Emma Okeefe</h6>
                <div class="sent-by">
                    Vice President of Sales - Sales</br>Milpitas, CA, USA
                </div>
            </div>
            <div class="contacts mb-0 small col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <a href="javascript:void(0)" class="mb-0 call"><img src="img/icon-phone.gif">+1 (650) 987 5348 (Ext. +277)</a>
                    <a href="javascript:void(0)" class="mb-0 e-mail"><img src="img/icon-mail.gif">emma.okeefe@companyname.com</a>
            </div>
        </div>

        <div class="result-single-col two pt-3 pb-3">
            <img src="img/img-res-06.jpg" alt="" title="" class="mr-2 rounded image-size">
            <div class="media-body mb-0 small col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 pl-0">
                <span class="d-block text-caps"> person <span class="hightlight-color">expertise match</span></span>
                <h6 class="mb-0">Joseph T. Greene</h6>
                <div class="sent-by">
                    Sales Executive - Sales
                </div>
            </div>
            <div class="contacts mb-0 small col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <a href="javascript:void(0)" class="mb-0 call"><img src="img/icon-phone.gif">+1 (650) 987 5348 (Ext. +277)</a>
                <a href="javascript:void(0)" class="mb-0 e-mail"><img src="img/icon-mail.gif">emma.okeefe@companyname.com</a>
            </div>
        </div>

        <div class="result-single-col two pt-3 pb-3">
            <img src="img/img-res-07.jpg" alt="" title="" class="mr-2 rounded image-size">
            <div class="media-body mb-0 small col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 pl-0">
                <span class="d-block text-caps"> site</span>
                <h6 class="mb-0">Social Events</h6>
                <p class="mb-0">Activities outside of work</p>
            </div>
            <div class="contacts mb-0 small col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <a href="javascript:void(0)" class="mb-0 call"><img src="img/icon-mobile.gif"> +44 9870654321</a>
            </div>
        </div>

        <div class="result-single-col pt-3 pb-3">
            <img src="img/img-res-03.jpg" alt="" title="" class="mr-2 rounded image-size">
            <div class="media-body mb-0 small">
                <span class="d-block text-caps"> site</span>
                <h6 class="mb-0">Social Events</h6>
            </div>
        </div>

        <div class="result-single-col pt-3 pb-3">
            <img src="img/img-res-02.jpg" alt="" title="" class="mr-2 rounded image-size">
            <div class="media-body mb-0 small">
                <span class="d-block text-caps"> blog post</span>
                <h6 class="mb-0">Another news article</h6>
                <p class="mb-0">Lorem ipsum dolor sit amet,consectetur adipisicing elit. Placeat sunt, eum numqam! Quas Lorem ipsum dolor sit amet,consectetur adipisicing elit</p>
                <div class="sent-by">In <span>Cafeteria</span> on Aug 11, 2016 (Edited)</div>
            </div>
        </div>

        <div class="result-single-col pt-3 pb-3">
            <img src="img/img-res-04.jpg" alt="" title="" class="mr-2 rounded image-size">
            <div class="media-body mb-0 small">
                <span class="d-block text-caps">album</span>
                <h6 class="mb-0">Planning for the future</h6>
                <div class="sent-by">in <span>Human Resources</span> on Aug 17, 2015</div>
            </div>
        </div>
    </div>
    </div>
    <!-- Left column end -->