<div class="result-single-col pt-2">
        <img src="img/img-res-08.jpg" alt="" title="" class="mr-2">
        <div class="media-body mb-0 small">
            <h6 class="mb-0">Sales</h6>
            <div class="sent-by">In <span>Sales</span></div>
        </div>
    </div>

    <div class="result-single-col pt-2">
        <img src="img/img-res-09.jpg" alt="" title="" class="mr-2 image-size">
        <div class="media-body mb-0 small">
            <h6 class="mb-0">season-revenue.xsl</h6>
            <div class="sent-by">In <span>Sales</span></div>
        </div>
    </div>

    <div class="result-single-col pt-2">
        <img src="img/img-res-10.jpg" alt="" title="" class="mr-2 image-size">
        <div class="media-body mb-0 small">
            <h6 class="mb-0">logo.pnb</h6>
            <div class="sent-by">In <span>Branding</span></div>
        </div>
    </div>

    <div class="result-single-col pt-2">
        <img src="img/img-res-11.jpg" alt="" title="" class="mr-2 image-size">
        <div class="media-body mb-0 small">
            <h6 class="mb-0">marketing_opportunities_in_germani</h6>
            <div class="sent-by">By <span>Jane Edwards</span></div>
        </div>
    </div>

    <div class="result-single-col pt-2">
        <img src="img/img-res-12.jpg" alt="" title="" class="mr-2 image-size">
        <div class="media-body mb-0 small">
            <h6 class="mb-0">pitch_deck_final_final_final.ppt</h6>
            <div class="sent-by">By <span>Jane Edwards</span></div>
        </div>
    </div>

    <div class="result-single-col pt-2">
        <img src="img/img-res-13.jpg" alt="" title="" class="mr-2 image-size">
        <div class="media-body mb-0 small">
            <h6 class="mb-0">barbara-portrait.jpg</h6>
            <div class="sent-by">In <span>About Company</span></div>
        </div>
    </div>